export project_name="picomigo"

dotenv .env

export TOP_SOURCE_DIR="$PWD"

export KAK_LSP_AUTO_FORMAT=1

use project

# use distrobox

export IMAGE_NAME="registry.mahnke.tech/application/picomigo"

use docker

use local_env
