CompileFlags:
    Add:
      - --target=arm-none-eabi
      - -mcpu=cortex-m33
      - -mthumb
      - -isystem/usr/arm-none-eabi/include
    Remove: [-f*]
    Compiler: clang

# For <assert.h>
# For "hardware/address_mapped.h"
# gcc compiler
# newlib
# For <sys/cdefs.h>, <stdio.h>
# ---
# 
# If:
#     PathMatch: /p/picomigo/picomigo-native/lib/pico-sdk/.*
# 
# CompileFlags:
#     Add:
#       - -I/p/picomigo/picomigo-native/lib/pico-sdk/src/rp2_common/hardware_base/include
#       - -I/p/picomigo/picomigo-native/lib/pico-sdk/src/common/pico_base_headers/include
#       - -I/p/picomigo/picomigo-native/lib/pico-sdk/src/rp2_common/hardware_base/include
#       - -I/p/picomigo/picomigo-native/lib/pico-sdk/src/rp2_common/hardware_base/include
#       - -I/p/picomigo/picomigo-native/modules/sound/_build/generated/pico_base
#       - -I/p/picomigo/picomigo-native/lib/pico-sdk/src/rp2350/pico_platform/include
#       - -I/p/picomigo/picomigo-native/lib/pico-sdk/src/rp2_common/pico_platform_compiler/include
#       - -I/p/picomigo/picomigo-native/lib/pico-sdk/src/rp2_common/pico_clib_interface/include/llvm_libc
# 
# Diagnostics:
#     Suppress:
#         - pp_file_not_found_angled_include_not_fatal
#         - -Wimplicit-int
#         - pp_including_mainfile_in_preamble
# 
# ---
# 
# If:
#     PathMatch: /p/picomigo/picomigo-native/lib/pico-sdk/src/rp2350/hardware_structs/include/hardware/structs/accessctrl.h
# Index:
#     Background: Skip
